---
import type { Post } from "../interfaces";
import { formatDate, slugify } from "../scripts/utils";
import { urlForImage } from "../scripts/sanity";
import CategoryCloud from "./CategoryCloud.astro";

type PostHeaderProps = {
  post: Post;
};

const { post } = Astro.props as PostHeaderProps;
---

<header>
  <div class="container">
    <small>
      <CategoryCloud categories={post.categories} />
    </small>
    <h1 class="h2">{post.title}</h1>
    <p>
      by <a href={`/author/${post.author.slug.current}/`}>{post.author.name}</a>
       • {formatDate(post.publishedAt)}
    </p>
  </div>
  <img
    transition:name={post.title}
    class="hero-image"
    alt="Post image"
    src={urlForImage(post.mainImage)
      .width(1200)
      .height(600)
      .crop("center")
      .fit("crop")
      .format("webp")
      .quality(40)
      .url()}
  />
</header>
